@import "tailwindcss";

@theme {
  --color-bg: #111111;
  --color-primary: #2A2A2A;
  --color-dark-ink: #000000;
  --color-light-ink: #FFFFFF;
  --color-border: #3A3A3A;
  --color-dashed-border: #577538;
  --color-theme: #BDEE63;
  --color-hover: #606060;

  --font-default: 'Inter', sans-serif;
  --font-body: 'Geist Mono', monospace;
}
